
# __Where should I move?__  
A moving guidance app based on foursquare and clustering in python

# Table of Contents
1. [Introduction/Business Problem](#intro)
1. [Python related setup](#setup)
1. [Data](#data)

<a id='intro'></a>

# Introduction/Business Problem

So many people move to an area unfamiliar to them for a job. These moves often occur in a tight time-frame due to schedule pressures with career start dates. This forces people to pick a neighborhood quickly, with limited time to see if it is a good fit. What if there was there was tool that related neighborhoods in a new city to those a person was already familiar with?

In this project, I will assume a user has lived in two regions, and is considering a move to two more. I will create maps coding the regions of both the familiar and unfamiliar places. That way, the user can select a new neighborhood that has properties they like from their old neighborhood.

The intent is for this to be a proof of concept that could be related to arbitrary old and new neighborhoods, extending the use of this tool to a broadly marketable application service

<a id='setup'></a>

# Setup

In [11]:
import pandas as pd

In [16]:
# define a helpful foursquare looper function
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)

        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)

        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']

        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
            
    
    return(nearby_venues)

<a id='data'></a>

# Data

For this example, it is assumed that a person grew up in Toronto, then moved to Manhattan and is now considering a move to either Queens or Staten Island.

The New York area data comes from the Week 3's lab. I have stored the Neighborhoods data, which contains neighborhoods with their latitude, longitude and borough. For Queens and Staten Island, foursquare will need to be used to gather venue information. I have stored the venues data table for Manhattan, which already has venues from foursquare.

The Toronto area data source is Week 3's lab content, which has neighborhood with latitude, longitude and venue.

All of this data will need to be formatted for clustering, including one-hot formatting and label cleaning.

## Familiar Area 1: Toronto Data

In [8]:
# From week 3 lab
toronto_coordinates_df = pd.read_csv("Geospatial_Coordinates.csv")
toronto_coordinates_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [35]:
# From week 3 lab
toronto_venues_df = pd.read_pickle("toronto_venues.p")
print(f" The shape of the toronto table is: {toronto_venues_df.shape}")
toronto_venues_df.head()

 The shape of the toronto table is: (2226, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Rouge, Malvern",43.806686,-79.194353,Wendy's,43.807448,-79.199056,Fast Food Restaurant
1,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,Royal Canadian Legion,43.782533,-79.163085,Bar
2,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,Affordable Toronto Movers,43.787919,-79.162977,Moving Target
3,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,Scarborough Historical Society,43.788755,-79.162438,History Museum
4,"Guildwood, Morningside, West Hill",43.763573,-79.188711,Swiss Chalet Rotisserie & Grill,43.767697,-79.189914,Pizza Place

## Familiar Area 2: Manhattan Data

In [36]:
# From week 3 tutorial
manhattan_venues_df = pd.read_pickle("manhattan_venues.p")
print(f"The shape of the manhattan table is: {manhattan_venues_df.shape}")
manhattan_venues_df.head()

The shape of the manhattan table is: (3303, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Marble Hill,40.876551,-73.91066,Arturo's,40.874412,-73.910271,Pizza Place
1,Marble Hill,40.876551,-73.91066,Bikram Yoga,40.876844,-73.906204,Yoga Studio
2,Marble Hill,40.876551,-73.91066,Tibbett Diner,40.880404,-73.908937,Diner
3,Marble Hill,40.876551,-73.91066,Starbucks,40.877531,-73.905582,Coffee Shop
4,Marble Hill,40.876551,-73.91066,Dunkin',40.877136,-73.906666,Donut Shop

## Unfamiliar Place 1: Queens

In [37]:
queens_df = all_new_york_df.loc[all_new_york_df.Borough == 'Queens']
queens_df.head()

    Borough     Neighborhood   Latitude  Longitude
129  Queens          Astoria  40.768509 -73.915654
130  Queens         Woodside  40.746349 -73.901842
131  Queens  Jackson Heights  40.751981 -73.882821
132  Queens         Elmhurst  40.744049 -73.881656
133  Queens     Howard Beach  40.654225 -73.838138

## Unfamiliar Place 2: Staten Island

In [31]:
staten_island_df = all_new_york_df.loc[all_new_york_df.Borough == 'Staten Island']
staten_island_df.head()

           Borough   Neighborhood   Latitude  Longitude
197  Staten Island     St. George  40.644982 -74.079353
198  Staten Island   New Brighton  40.640615 -74.087017
199  Staten Island      Stapleton  40.626928 -74.077902
200  Staten Island       Rosebank  40.615305 -74.069805
201  Staten Island  West Brighton  40.631879 -74.107182