
# __Where should I move?__  
A moving guidance app based on foursquare and clustering in python

# Table of Contents
1. [Introduction/Business Problem](#intro)
1. [Python related setup](#setup)
1. [Data](#data)
1. [Methodology](#methodology)
1. [Results](#results)
1. [Discussion](#discussion)
1. [Conclusion](#conclusion)

<a id='intro'></a>

# Introduction/Business Problem

So many people move to an area unfamiliar to them for a job. These moves often occur in a tight time-frame due to schedule pressures with career start dates. This forces people to pick a neighborhood quickly, with limited time to see if it is a good fit. What if there was there was tool that related neighborhoods in a new city to those a person was already familiar with?

In this project, I will assume a user has lived in two regions, and is considering a move to two more. I will create maps coding the regions of both the familiar and unfamiliar places. That way, the user can select a new neighborhood that has properties they like from their old neighborhood.

The intent is for this to be a proof of concept that could be related to arbitrary old and new neighborhoods, extending the use of this tool to a broadly marketable application service

<a id='setup'></a>

# Setup

In [5]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json # library to handle JSON files
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
# import k-means from clustering stage
from sklearn.cluster import KMeans
import folium # map rendering library

In [27]:
# define a helpful foursquare looper function
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    LIMIT = 100
    radius = 500
    
    venues_list=[]
    
    print_count = 0
    for name, lat, lng in zip(names, latitudes, longitudes):
        
        if print_count <= 5:
            print(name, end=', ')
            print_count = print_count + 1
        else:
            print(name + '.')
            print_count = 0

        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)

        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']

        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
            
    
    return(nearby_venues)

<a id='data'></a>

# Data

For this example, it is assumed that a person grew up in Toronto, then moved to Manhattan and is now considering a move to either Queens or Staten Island.

The New York area data comes from the Week 3's lab. I have stored the Neighborhoods data, which contains neighborhoods with their latitude, longitude and borough. For Queens and Staten Island, foursquare will need to be used to gather venue information. I have stored the venues data table for Manhattan, which already has venues from foursquare.

The Toronto area data source is Week 3's lab content, which has neighborhood with latitude, longitude and venue.

All of this data will need to be formatted for clustering, including one-hot formatting and label cleaning.

## Familiar Area 1: Toronto Data

In [7]:
# From week 3 lab
toronto_coordinates_df = pd.read_csv("Geospatial_Coordinates.csv")
toronto_coordinates_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [67]:
# From week 3 lab
toronto_venues_df = pd.read_pickle("toronto_venues.p")
print(f" The shape of the toronto table is: {toronto_venues_df.shape}")
toronto_venues_df.head()

 The shape of the toronto table is: (2226, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Rouge, Malvern",43.806686,-79.194353,Wendy's,43.807448,-79.199056,Fast Food Restaurant
1,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,Royal Canadian Legion,43.782533,-79.163085,Bar
2,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,Affordable Toronto Movers,43.787919,-79.162977,Moving Target
3,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497,Scarborough Historical Society,43.788755,-79.162438,History Museum
4,"Guildwood, Morningside, West Hill",43.763573,-79.188711,Swiss Chalet Rotisserie & Grill,43.767697,-79.189914,Pizza Place

## Familiar Area 2: Manhattan Data

In [9]:
# From week 3 tutorial
manhattan_venues_df = pd.read_pickle("manhattan_venues.p")
print(f"The shape of the manhattan table is: {manhattan_venues_df.shape}")
manhattan_venues_df.head()

The shape of the manhattan table is: (3303, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Marble Hill,40.876551,-73.91066,Arturo's,40.874412,-73.910271,Pizza Place
1,Marble Hill,40.876551,-73.91066,Bikram Yoga,40.876844,-73.906204,Yoga Studio
2,Marble Hill,40.876551,-73.91066,Tibbett Diner,40.880404,-73.908937,Diner
3,Marble Hill,40.876551,-73.91066,Starbucks,40.877531,-73.905582,Coffee Shop
4,Marble Hill,40.876551,-73.91066,Dunkin',40.877136,-73.906666,Donut Shop

## Unfamiliar Place 1: Queens

In [11]:
all_new_york_df = pd.read_pickle("all_new_york_neighborhoods.p")
queens_df = all_new_york_df.loc[all_new_york_df.Borough == 'Queens']
queens_df.head()

    Borough     Neighborhood   Latitude  Longitude
129  Queens          Astoria  40.768509 -73.915654
130  Queens         Woodside  40.746349 -73.901842
131  Queens  Jackson Heights  40.751981 -73.882821
132  Queens         Elmhurst  40.744049 -73.881656
133  Queens     Howard Beach  40.654225 -73.838138

## Unfamiliar Place 2: Staten Island

In [12]:
staten_island_df = all_new_york_df.loc[all_new_york_df.Borough == 'Staten Island']
staten_island_df.head()

           Borough   Neighborhood   Latitude  Longitude
197  Staten Island     St. George  40.644982 -74.079353
198  Staten Island   New Brighton  40.640615 -74.087017
199  Staten Island      Stapleton  40.626928 -74.077902
200  Staten Island       Rosebank  40.615305 -74.069805
201  Staten Island  West Brighton  40.631879 -74.107182

## Foursquare Time!

In [13]:
info_file = "foursquare_info.sec"
info_df = pd.read_csv(info_file)
CLIENT_ID = info_df.ID.values[0] # your Foursquare ID
CLIENT_SECRET = info_df.SECRET.values[0] # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [26]:
queens_venues_df = getNearbyVenues(names=queens_df.Neighborhood, 
                                   latitudes=queens_df.Latitude,
                                   longitudes=queens_df.Longitude)

Astoria Woodside Jackson Heights Elmhurst Howard Beach Corona Forest Hills
Kew Gardens Richmond Hill Flushing Long Island City Sunnyside East Elmhurst Maspeth
Ridgewood Glendale Rego Park Woodhaven Ozone Park South Ozone Park College Point
Whitestone Bayside Auburndale Little Neck Douglaston Glen Oaks Bellerose
Kew Gardens Hills Fresh Meadows Briarwood Jamaica Center Oakland Gardens Queens Village Hollis
South Jamaica St. Albans Rochdale Springfield Gardens Cambria Heights Rosedale Far Rockaway
Broad Channel Breezy Point Steinway Beechhurst Bay Terrace Edgemere Arverne
Rockaway Beach Neponsit Murray Hill Floral Park Holliswood Jamaica Estates Queensboro Hill
Hillcrest Ravenswood Lindenwood Laurelton Lefrak City Belle Harbor Rockaway Park
Somerville Brookville Bellaire North Corona Forest Hills Gardens Jamaica Hills Utopia
Pomonok Astoria Heights Hunters Point Sunnyside Gardens Blissville Roxbury Middle Village
Malba Hammels Bayswater Queensbridge

In [28]:
staten_island_venues_df = getNearbyVenues(names=staten_island_df.Neighborhood, 
                                       latitudes=staten_island_df.Latitude,
                                       longitudes=staten_island_df.Longitude)

St. George, New Brighton, Stapleton, Rosebank, West Brighton, Grymes Hill, Todt Hill.
South Beach, Port Richmond, Mariner's Harbor, Port Ivory, Castleton Corners, New Springville, Travis.
New Dorp, Oakwood, Great Kills, Eltingville, Annadale, Woodrow, Tottenville.
Tompkinsville, Silver Lake, Sunnyside, Park Hill, Westerleigh, Graniteville, Arlington.
Arrochar, Grasmere, Old Town, Dongan Hills, Midland Beach, Grant City, New Dorp Beach.
Bay Terrace, Huguenot, Pleasant Plains, Butler Manor, Charleston, Rossville, Arden Heights.
Greenridge, Heartland Village, Chelsea, Bloomfield, Bulls Head, Richmond Town, Shore Acres.
Clifton, Concord, Emerson Hill, Randall Manor, Howland Hook, Elm Park, Manor Heights.
Willowbrook, Sandy Ground, Egbertville, Prince's Bay, Lighthouse Hill, Richmond Valley, Fox Hills.

## Confirm venues for new places
Queens and Staten Island now have their venues from foursquare

In [29]:
print(f"The shape of queens venues df is: {queens_venues_df.shape}")
queens_venues_df.head()

The shape of queens venues df is: (2106, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Astoria,40.768509,-73.915654,Favela Grill,40.767348,-73.917897,Brazilian Restaurant
1,Astoria,40.768509,-73.915654,Orange Blossom,40.769856,-73.917012,Gourmet Shop
2,Astoria,40.768509,-73.915654,Titan Foods Inc.,40.769198,-73.919253,Gourmet Shop
3,Astoria,40.768509,-73.915654,CrossFit Queens,40.769404,-73.918977,Gym
4,Astoria,40.768509,-73.915654,Simply Fit Astoria,40.769114,-73.912403,Gym

In [32]:
queens_venues_df['Venue Category'].value_counts()

Pizza Place                                 88
Deli / Bodega                               69
Chinese Restaurant                          61
Bakery                                      60
Donut Shop                                  55
Pharmacy                                    50
Bank                                        48
Sandwich Place                              44
Bar                                         44
Korean Restaurant                           41
Italian Restaurant                          39
Grocery Store                               37
Supermarket                                 36
Coffee Shop                                 36
Mexican Restaurant                          35
Gym / Fitness Center                        32
Bus Station                                 30
Thai Restaurant                             29
Beach                                       29
Latin American Restaurant                   29
Park                                        28
Ice Cream Shop                              26
Diner                                       26
Mobile Phone Shop                           26
Fast Food Restaurant                        25
Hotel                                       23
Sushi Restaurant                            23
American Restaurant                         22
Caf√©                                        22
Gym                                         22
Fried Chicken Joint                         21
Indian Restaurant                           21
Bagel Shop                                  20
Japanese Restaurant                         19
Spa                                         19
Cosmetics Shop                              18
South American Restaurant                   17
Caribbean Restaurant                        17
Pub                                         16
Playground                                  16
Asian Restaurant                            15
Food Truck                                  15
Seafood Restaurant                          15
Greek Restaurant                            14
Liquor Store                                13
Clothing Store                              13
Convenience Store                           13
Bubble Tea Shop                             13
Restaurant                                  13
Peruvian Restaurant                         12
Spanish Restaurant                          11
Dessert Shop                                11
Discount Store                              11
Middle Eastern Restaurant                   10
Hookah Bar                                   9
Wine Shop                                    9
Burger Joint                                 9
Market                                       9
Bus Stop                                     8
Breakfast Spot                               8
Metro Station                                8
Shipping Store                               8
Supplement Shop                              8
Yoga Studio                                  8
Intersection                                 7
Moving Target                                7
Mediterranean Restaurant                     7
Vegetarian / Vegan Restaurant                7
Shoe Store                                   7
Steakhouse                                   7
Department Store                             7
Pet Store                                    7
Wine Bar                                     6
Gourmet Shop                                 6
Vietnamese Restaurant                        6
Rental Car Location                          6
Hotpot Restaurant                            6
BBQ Joint                                    6
French Restaurant                            6
Train Station                                6
Lounge                                       6
Filipino Restaurant                          6
Sporting Goods Shop                          6
Food & Drink Shop                            5
Scenic Lookout                               5
Noodle House                                 5
Flower Shop                                  5
Hotel Bar                                    5
Dance Studio                                 5
Salon / Barbershop                           5
Baseball Field                               5
Brewery                                      5
Bowling Alley                                4
Taco Place                                   4
Fruit & Vegetable Store                      4
Colombian Restaurant                         4
Cajun / Creole Restaurant                    4
Karaoke Bar                                  4
Juice Bar                                    4
Bus Line                                     4
Kids Store                                   4
New American Restaurant                      4
Beer Garden                                  4
Furniture / Home Store                       4
Shopping Mall                                4
Health Food Store                            4
Video Game Store                             4
Sports Bar                                   4
Arepa Restaurant                             4
Smoke Shop                                   4
Martial Arts Dojo                            4
Empanada Restaurant                          4
Surf Spot                                    4
Food                                         4
Plaza                                        4
Food Court                                   4
Trail                                        4
Women's Store                                4
Shop & Service                               4
Basketball Court                             4
Train                                        3
Board Shop                                   3
Laundromat                                   3
Gas Station                                  3
Turkish Restaurant                           3
Men's Store                                  3
Boutique                                     3
Lingerie Store                               3
Farm                                         3
Gastropub                                    3
Movie Theater                                3
Performing Arts Venue                        3
Southern / Soul Food Restaurant              3
Health & Beauty Service                      3
Szechuan Restaurant                          3
Cocktail Bar                                 3
Gift Shop                                    3
Construction & Landscaping                   3
Mattress Store                               3
Brazilian Restaurant                         3
Dog Run                                      3
Snack Place                                  3
Shanghai Restaurant                          3
Jewelry Store                                3
Farmers Market                               3
Tapas Restaurant                             3
Eastern European Restaurant                  3
Ramen Restaurant                             3
Athletics & Sports                           3
Nail Salon                                   2
Pet Service                                  2
Hardware Store                               2
Tennis Court                                 2
Falafel Restaurant                           2
Nightclub                                    2
Electronics Store                            2
Business Service                             2
Halal Restaurant                             2
Himalayan Restaurant                         2
Bistro                                       2
Residential Building (Apartment / Condo)     2
Dumpling Restaurant                          2
Dim Sum Restaurant                           2
Cantonese Restaurant                         2
Irish Pub                                    2
Video Store                                  2
Pool Hall                                    2
Toy / Game Store                             2
Tea Room                                     2
Optical Shop                                 2
Poke Place                                   2
Sculpture Garden                             2
Arts & Crafts Store                          2
Accessories Store                            2
Dive Bar                                     2
Automotive Shop                              2
Concert Hall                                 2
Neighborhood                                 2
Art Gallery                                  2
Malay Restaurant                             2
Massage Studio                               2
Candy Store                                  2
College Academic Building                    2
Afghan Restaurant                            2
Hostel                                       2
Frozen Yogurt Shop                           2
Argentinian Restaurant                       2
Cycle Studio                                 1
Post Office                                  1
Pier                                         1
Climbing Gym                                 1
Fish Market                                  1
Skating Rink                                 1
Buffet                                       1
Souvlaki Shop                                1
Kosher Restaurant                            1
Museum                                       1
Laundry Service                              1
Dosa Place                                   1
Airport Terminal                             1
Gay Bar                                      1
College Cafeteria                            1
Indie Movie Theater                          1
Print Shop                                   1
Comfort Food Restaurant                      1
Lake                                         1
Pie Shop                                     1
History Museum                               1
Pedestrian Plaza                             1
Weight Loss Center                           1
Office                                       1
Multiplex                                    1
Romanian Restaurant                          1
Theater                                      1
Miscellaneous Shop                           1
Comedy Club                                  1
Arts & Entertainment                         1
College Basketball Court                     1
Harbor / Marina                              1
German Restaurant                            1
Shopping Plaza                               1
Thrift / Vintage Store                       1
Tibetan Restaurant                           1
Roof Deck                                    1
Building                                     1
Storage Facility                             1
Antique Shop                                 1
Rest Area                                    1
Skate Park                                   1
Other Nightlife                              1
Salad Place                                  1
Resort                                       1
Indonesian Restaurant                        1
Check Cashing Service                        1
Motel                                        1
Platform                                     1
Church                                       1
Hobby Shop                                   1
Rental Service                               1
Shabu-Shabu Restaurant                       1
Polish Restaurant                            1
Bike Trail                                   1
Vape Store                                   1
Paper / Office Supplies Store                1
Hotel Pool                                   1
Monument / Landmark                          1
Burrito Place                                1
Gluten-free Restaurant                       1
Warehouse Store                              1
General Entertainment                        1
Wings Joint                                  1
Egyptian Restaurant                          1
Bed & Breakfast                              1
College Stadium                              1
Fish & Chips Shop                            1
School                                       1
Cuban Restaurant                             1
State / Provincial Park                      1
Bath House                                   1
Flea Market                                  1
Hot Dog Joint                                1
Taiwanese Restaurant                         1
Art Museum                                   1
Bookstore                                    1
Tailor Shop                                  1
Event Space                                  1
Dry Cleaner                                  1
Motorcycle Shop                              1
Beach Bar                                    1
Name: Venue Category, dtype: int64

In [31]:
print(f"The shape of staten island venues df is: {staten_island_venues_df.shape}")
staten_island_venues_df.head()

The shape of staten island venues df is: (835, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,St. George,40.644982,-74.079353,A&S Pizzeria,40.643940,-74.077626,Pizza Place
1,St. George,40.644982,-74.079353,Beso,40.643306,-74.076508,Tapas Restaurant
2,St. George,40.644982,-74.079353,Richmond County Bank Ballpark,40.645056,-74.076864,Baseball Stadium
3,St. George,40.644982,-74.079353,Staten Island September 11 Memorial,40.646767,-74.076510,Monument / Landmark
4,St. George,40.644982,-74.079353,Nike Factory Store,40.645753,-74.077702,Sporting Goods Shop

In [33]:
staten_island_venues_df['Venue Category'].value_counts()

Pizza Place                                 50
Italian Restaurant                          43
Bus Stop                                    43
Deli / Bodega                               39
Pharmacy                                    23
Bagel Shop                                  22
Sandwich Place                              20
Bank                                        20
Grocery Store                               17
Coffee Shop                                 17
Chinese Restaurant                          17
Donut Shop                                  16
Bar                                         14
Cosmetics Shop                              14
Liquor Store                                13
Mexican Restaurant                          13
Park                                        13
American Restaurant                         13
Ice Cream Shop                              12
Train Station                               12
Sushi Restaurant                            11
Restaurant                                  11
Supermarket                                 10
Fast Food Restaurant                         9
Diner                                        9
Clothing Store                               9
Caf√©                                         9
Intersection                                 8
Discount Store                               7
Bakery                                       7
Japanese Restaurant                          6
Convenience Store                            6
Beach                                        6
Burger Joint                                 6
Gym                                          5
Spanish Restaurant                           5
Food                                         5
Athletics & Sports                           5
Sporting Goods Shop                          5
Baseball Field                               5
Hotel                                        5
Home Service                                 5
Spa                                          5
Health & Beauty Service                      4
Gift Shop                                    4
Salon / Barbershop                           4
Food Truck                                   4
Furniture / Home Store                       4
Breakfast Spot                               4
Dessert Shop                                 4
Scenic Lookout                               4
Playground                                   4
Pet Store                                    4
Taco Place                                   4
Music Store                                  4
Gym / Fitness Center                         4
Wings Joint                                  3
Tattoo Parlor                                3
Food & Drink Shop                            3
Eastern European Restaurant                  3
Miscellaneous Shop                           3
Pool                                         3
BBQ Joint                                    3
Rental Car Location                          3
Asian Restaurant                             3
Construction & Landscaping                   3
Gastropub                                    3
Juice Bar                                    3
Nail Salon                                   3
Video Store                                  3
Bowling Alley                                3
Shopping Mall                                3
Optical Shop                                 3
Martial Arts Dojo                            2
Plaza                                        2
Mobile Phone Shop                            2
Hardware Store                               2
Event Space                                  2
Women's Store                                2
Thai Restaurant                              2
Art Gallery                                  2
Accessories Store                            2
Big Box Store                                2
Cajun / Creole Restaurant                    2
Business Service                             2
Shipping Store                               2
Thrift / Vintage Store                       2
Pier                                         2
Moving Target                                2
Tanning Salon                                2
Dry Cleaner                                  2
Video Game Store                             2
Sports Bar                                   2
Massage Studio                               2
Lawyer                                       2
Brewery                                      2
Dog Run                                      2
Mattress Store                               2
Boat or Ferry                                2
Market                                       2
Steakhouse                                   2
Gourmet Shop                                 2
Gas Station                                  2
Greek Restaurant                             2
Hookah Bar                                   2
Tapas Restaurant                             1
History Museum                               1
Caribbean Restaurant                         1
Recreation Center                            1
Vietnamese Restaurant                        1
Art Museum                                   1
Locksmith                                    1
Yoga Studio                                  1
Rock Club                                    1
Trail                                        1
Bus Station                                  1
Other Repair Shop                            1
Mini Golf                                    1
Comedy Club                                  1
Financial or Legal Service                   1
Skate Park                                   1
Arts & Crafts Store                          1
New American Restaurant                      1
Concert Hall                                 1
Kids Store                                   1
Board Shop                                   1
Event Service                                1
Baseball Stadium                             1
Soup Place                                   1
Residential Building (Apartment / Condo)     1
French Restaurant                            1
Tourist Information Center                   1
Golf Course                                  1
Basketball Court                             1
Department Store                             1
Racetrack                                    1
Toy / Game Store                             1
Laundromat                                   1
Toll Plaza                                   1
Beer Bar                                     1
Polish Restaurant                            1
German Restaurant                            1
Mediterranean Restaurant                     1
Performing Arts Venue                        1
Outdoor Sculpture                            1
Smoothie Shop                                1
Skating Rink                                 1
Indian Restaurant                            1
Vegetarian / Vegan Restaurant                1
Fish & Chips Shop                            1
Supplement Shop                              1
Hobby Shop                                   1
Peruvian Restaurant                          1
Check Cashing Service                        1
Harbor / Marina                              1
Sports Club                                  1
Pub                                          1
Cafeteria                                    1
Motorcycle Shop                              1
Shoe Store                                   1
Professional & Other Places                  1
Dim Sum Restaurant                           1
Theater                                      1
Bookstore                                    1
Tex-Mex Restaurant                           1
Insurance Office                             1
Theme Park                                   1
Jewelry Store                                1
Museum                                       1
Filipino Restaurant                          1
Monument / Landmark                          1
Outdoors & Recreation                        1
Campground                                   1
Music Venue                                  1
Farmers Market                               1
Flower Shop                                  1
Recording Studio                             1
Dance Studio                                 1
Sri Lankan Restaurant                        1
Outlet Mall                                  1
Arcade                                       1
IT Services                                  1
Middle Eastern Restaurant                    1
Name: Venue Category, dtype: int64

## Prepare for Clustering
Prepare the contents of the four venues dataframes to be in one-hot format with the top venues

In [36]:
# Some helper functions

def get_grouped_df(venues_df):
    
    onehot_df = pd.get_dummies(venues_df[['Venue Category']], prefix="", prefix_sep="")
    onehot_df['Neighborhood'] = venues_df['Neighborhood']
    fixed_columns = [onehot_df.columns[-1]] + list(onehot_df.columns[:-1])
    onehot_df = onehot_df[fixed_columns]
    
    grouped_df = onehot_df.groupby('Neighborhood').mean().reset_index()
    
    return grouped_df

def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [39]:
toronto_grouped = get_grouped_df(toronto_venues_df)
manhattan_grouped = get_grouped_df(manhattan_venues_df)
queens_grouped = get_grouped_df(queens_venues_df)
staten_island_grouped = get_grouped_df(staten_island_venues_df)

In [41]:
# generate pretty column list for later
num_top_venues = 10
indicators = ['st', 'nd', 'rd']
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

In [96]:
# new dfs with pretty columns from above
toronto_hoods_venues_sorted = pd.DataFrame(columns=columns)
toronto_hoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']
manhattan_hoods_venues_sorted = pd.DataFrame(columns=columns)
manhattan_hoods_venues_sorted['Neighborhood'] = manhattan_grouped['Neighborhood']
queens_hoods_venues_sorted = pd.DataFrame(columns=columns)
queens_hoods_venues_sorted['Neighborhood'] = queens_grouped['Neighborhood']
staten_island_hoods_venues_sorted = pd.DataFrame(columns=columns)
staten_island_hoods_venues_sorted['Neighborhood'] = staten_island_grouped['Neighborhood']

# pack these new dfs with their respective most common venues
for ind in np.arange(toronto_grouped.shape[0]):
    toronto_hoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)
    
for ind in np.arange(manhattan_grouped.shape[0]):
    manhattan_hoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(manhattan_grouped.iloc[ind, :], num_top_venues)
    
for ind in np.arange(queens_grouped.shape[0]):
    queens_hoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(queens_grouped.iloc[ind, :], num_top_venues)
    
for ind in np.arange(staten_island_grouped.shape[0]):
    staten_island_hoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(staten_island_grouped.iloc[ind, :], num_top_venues)

## Final form of raw data
Top venues for Toronto, Manhattan, Queens, and Staten Island are sorted by neighborhood

In [97]:
toronto_hoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Adelaide, King, Richmond",Coffee Shop,Caf√©,Bar,Steakhouse,Thai Restaurant,Restaurant,Burger Joint,Hotel,Sushi Restaurant,Asian Restaurant
1,Agincourt,Latin American Restaurant,Lounge,Skating Rink,Breakfast Spot,Women's Store,Dumpling Restaurant,Dog Run,Doner Restaurant,Donut Shop,Drugstore
2,"Agincourt North, L'Amoreaux East, Milliken, St...",Park,Bakery,Playground,Drugstore,Diner,Discount Store,Dog Run,Doner Restaurant,Donut Shop,Dumpling Restaurant
3,"Albion Gardens, Beaumond Heights, Humbergate, ...",Grocery Store,Pizza Place,Fried Chicken Joint,Pharmacy,Video Store,Fast Food Restaurant,Beer Store,Sandwich Place,Women's Store,Dog Run
4,"Alderwood, Long Branch",Pizza Place,Coffee Shop,Pool,Gym,Skating Rink,Pharmacy,Pub,Sandwich Place,Dessert Shop,Dim Sum Restaurant

In [99]:
manhattan_hoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Battery Park City,Park,Coffee Shop,Hotel,Wine Shop,Women's Store,Gym,Memorial Site,Boat or Ferry,Shopping Mall,Pizza Place
1,Carnegie Hill,Coffee Shop,Pizza Place,Cosmetics Shop,Yoga Studio,Bakery,Gym,Bookstore,Grocery Store,Japanese Restaurant,Caf√©
2,Central Harlem,Chinese Restaurant,African Restaurant,Cosmetics Shop,Bar,American Restaurant,French Restaurant,Seafood Restaurant,Salon / Barbershop,Tapas Restaurant,Gym
3,Chelsea,Coffee Shop,Bakery,Ice Cream Shop,Italian Restaurant,American Restaurant,Hotel,Nightclub,Theater,Bookstore,French Restaurant
4,Chinatown,Chinese Restaurant,Cocktail Bar,American Restaurant,Bakery,Hotpot Restaurant,Salon / Barbershop,Vietnamese Restaurant,Optical Shop,Spa,Mexican Restaurant

In [100]:
queens_hoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Arverne,Surf Spot,Metro Station,Sandwich Place,Donut Shop,Wine Shop,Playground,Beach,Pizza Place,Thai Restaurant,Board Shop
1,Astoria,Bar,Middle Eastern Restaurant,Hookah Bar,Greek Restaurant,Seafood Restaurant,Bakery,Pizza Place,Mediterranean Restaurant,Food & Drink Shop,Caf√©
2,Astoria Heights,Chinese Restaurant,Deli / Bodega,Hostel,Plaza,Playground,Pizza Place,Italian Restaurant,Burger Joint,Bowling Alley,Bus Station
3,Auburndale,Ice Cream Shop,Italian Restaurant,Fast Food Restaurant,Supermarket,Furniture / Home Store,Noodle House,Korean Restaurant,Miscellaneous Shop,Athletics & Sports,Toy / Game Store
4,Bay Terrace,Clothing Store,Women's Store,Donut Shop,Lingerie Store,American Restaurant,Mobile Phone Shop,Cosmetics Shop,Kids Store,Deli / Bodega,Coffee Shop

In [101]:
staten_island_hoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Annadale,Pizza Place,Dance Studio,Train Station,Sushi Restaurant,Pharmacy,Restaurant,Sports Bar,Diner,Discount Store,Food
1,Arden Heights,Deli / Bodega,Bus Stop,Home Service,Pizza Place,Coffee Shop,Pharmacy,Yoga Studio,Fast Food Restaurant,Food & Drink Shop,Food
2,Arlington,Bus Stop,Deli / Bodega,Boat or Ferry,Grocery Store,Intersection,American Restaurant,Art Museum,Gastropub,Furniture / Home Store,French Restaurant
3,Arrochar,Deli / Bodega,Italian Restaurant,Bus Stop,Taco Place,Liquor Store,Mediterranean Restaurant,Middle Eastern Restaurant,Food Truck,Outdoors & Recreation,Pharmacy
4,Bay Terrace,Supermarket,Insurance Office,Plaza,Italian Restaurant,Sushi Restaurant,Donut Shop,Liquor Store,Salon / Barbershop,Shipping Store,Farmers Market

<a id='methodology'></a>

# Methodology

Methodology section which represents the main component of the report where you discuss and describe any exploratory data analysis that you did, any inferential statistical testing that you performed, if any, and what machine learnings were used and why.

## Clustering

In [102]:
def cluster_my_data(grouped_df, venues_sorted_df, lat_lon_df, kclusters=5):
    # fit cluster to the sorted venues, then merge label cluster data with geometric data df
    
    grouped_clustering = grouped_df.drop('Neighborhood', 1)
    kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(grouped_clustering)
    
    #print(f"There are {len(kmeans.labels_)} labels, {len(grouped_df)} groups, and {len(venues_sorted_df)} venues")
    
    if "Cluster Labels" not in venues_sorted_df.columns:
        venues_sorted_df.insert(0, 'Cluster Labels', kmeans.labels_)
        
    clean_lat_lon_df = lat_lon_df.drop_duplicates(subset="Neighborhood")
    
    merged_df = clean_lat_lon_df.join(venues_sorted_df.set_index('Neighborhood'), on='Neighborhood')
    
    merged_df.rename(columns={'Neighborhood Latitude': 'Latitude', 'Neighborhood Longitude': 'Longitude'}, inplace=True)
    
    del venues_sorted_df
    
    return merged_df.drop(['Venue', 'Venue Category', 'Venue Latitude', 'Venue Longitude'], 1)

In [106]:
toronto_merged = cluster_my_data(toronto_grouped, toronto_hoods_venues_sorted, toronto_venues_df)
manhattan_merged = cluster_my_data(manhattan_grouped, manhattan_hoods_venues_sorted, manhattan_venues_df)
queens_merged = cluster_my_data(queens_grouped, queens_hoods_venues_sorted, queens_venues_df)
staten_island_merged = cluster_my_data(staten_island_grouped, staten_island_hoods_venues_sorted, staten_island_venues_df)

There are 99 labels, 99 groups, and 99 venues
There are 40 labels, 40 groups, and 40 venues
There are 81 labels, 81 groups, and 81 venues
There are 62 labels, 62 groups, and 62 venues

<a id='results'></a>

# Results
section where you discuss the results.

<a id='discussion'></a>

# Discussion

Discussion section where you discuss any observations you noted and any recommendations you can make based on the results.

<a id='conclusion'></a>

# Conclusion
section where you conclude the report.